:root {
  font-family:HelveticaNeue, sans-serif;
  
}

@font-face{
  font-family: "HelveticaNeue";
  src: './globalfonts//HelveticaNeue-Bold.otf';
}


a{
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1455px;
    background-color: #ffffff;
    padding: 0px 33px 0px 33px;
    
    
}

html{
    scroll-behavior: smooth;
}








/*header*/


.header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left:0;
    
}



.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-left: 3px;
    padding-top: 9px;
    padding-bottom: 9px;
}



.header_logo,.header_logo_a{
    font-size: 23px;
    font-weight:400;
      line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(14, 13, 13);
    text-decoration: none;
     

}

.logo{
   
     width: 190px;
    height: 50px;
}


.header_menu {
  
    line-height: 0.3%;
    cursor: pointer;
}

.ul_a{
    display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
    margin-left: 390px;
    gap:13px;
    text-decoration: none;
    list-style-type: none;
    cursor:pointer;
     color: #171717;
}


.li_a{
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(11, 11, 11);

}


.a1{
     transition: all 0.3s ease-in;
     font-size: 22px;
     cursor: pointer;
     font-weight:400;
     position: relative;
     color: #0f0f0f;

}


.a1:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    padding-top: -2px;
    height: 1.5px; 
    background-color: rgb(20, 20, 20); 
    transition: width 0.6s ; 
}

.a1:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
     padding-top: -2px;
    bottom: -3px;
    height: 1.5px; 
    background-color: rgb(11, 11, 11); 
    transition: width 0.6s;  
}


/*header-button*/


.a_header_button{
    font-size: 22px;
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(15, 15, 15);
    cursor: pointer;
    
}

.a_header_button:hover{
    color: rgb(85, 85, 85);
}









/*Main*/

.gen{
    max-width: 1455px;
    height: 450px;
 
}

.img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -70px;
    max-width: 100%;   
    height: auto;       
    display: block;
}

.h1_general{
    font-size: 40px;
    font-weight: 800;
}

.p_general{
    color: #000000;
    width: 78%;
    font-size: 27px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 1.1;
    letter-spacing: 0.001px;

}


/*доннту ссылки*/

.donntu_href{
    text-decoration: none;
    color: #141414;
    transition: all 0.4s ease-in;
}

.donntu_href:hover{
    color: rgb(0, 13, 255);
}



/*buttons*/

.buttons_general_container{
    width: 100%;
    text-align: center;
     margin-left: -6px;
    margin-top: 75px; 
}

.buttons_navigation{
    display: flex; 
    
}


.main_button_a{
    color: #ffffff;
     background-color: #0a0a0a;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border:1px #171717 solid;
    border-radius: 13px ;
    padding:8px 13px;
    transition: all 0.2s ease-in;
}


.main_button_a:hover{
    background-color: rgb(255, 255, 255);
    color: #141414; 
}

.span-main-button{
    background-color: #ffffff;
    color: #0f0f0f;
    padding: 3px 5px;
    border-radius: 6px;
    font-size:17px;
    transition: all 0.2s ease-in;
}

.span-main-button:hover{
    color: #ffffff;
    background-color: #111111;
}

.main_button{
     width: 120px;
     padding-left: 34px;
     font-size: 22px;
     transition: all 0.4s ease-in;
     cursor: pointer;
   
}

.main_button,a{
      font-weight: 400;
}

.button{
    color: #131313;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.button:hover{
     color: rgb(104, 104, 104);
}

.Href_logo{
    justify-content: space-between;
    text-align: center;
    height: 15px;
    width: 15px;
    padding-right: 3px;
    pointer-events: none;

}



.main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    max-width: 101%;   
    height: auto;       
    display: block;
    margin-left: -9px;
}







/*Footer*/



.footer{
  margin: 0;
  margin-top: 90px; 
}

.footer_gen{
  padding-top: 60px;
}

.fwr{
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;      
}

.footer_p{
  color: #121212e1;
  cursor: pointer;
  font-size: 16px;
  padding-top: 15px;
  font-weight: 400;
  transition: all 0.6s ease-in;
}

.footer_p:hover{
    color: rgba(1, 41, 241, 0.895);
}

.footer_svg{
    margin-top: 18px;
  pointer-events: none;
  width: 170px;
  height: 70px;
}

::selection {
   background-color: rgb(10, 10, 10);
    color: #fffffff6;
}






/*Бургер-меню*/


.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    padding: 8px 12px;
    z-index: 1000;
    position: relative;
}

.close-text {
    display: none;
}








/* Меню */


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    clip-path: circle(0% at calc(100% - 40px) 40px);
}

.menu_overlay {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 33px 0px 33px;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu_content {
    text-align: left;
	padding-top: 80px;
}

.a1_menu_active{
    display: block;
    font-size: 39px;
    font-weight: 400;
    color: #ffeeee;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.a1_menu_active:hover {
    color: #666;
}

.footer_gen_menu_active{
	padding-top: 180px;
	
}

/* .footer_p_menu_active{
	font-size: 16px;
	color: #eee;
	padding-top: 13px;
	margin-left: 50px;
	transition: all 0.3s ease-in;
	cursor: pointer;
	
}

.footer_p_menu_active:hover{
	background-color: #070fff;
} */

.footer_svg_menu{
	width: 300px;
	height: 100px;
}

/* Активное состояние */
.mobile-menu.active {
    opacity: 1;
    visibility: visible;
    clip-path: circle(150% at calc(100% - 40px) 40px);
}

.mobile-menu.active .a1_menu_active{
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu.active .a1_menu_active:nth-child(1) { transition-delay: 0.1s; }
.mobile-menu.active .a1_menu_active:nth-child(2) { transition-delay: 0.15s; }
.mobile-menu.active .a1_menu_active:nth-child(3) { transition-delay: 0.2s; }
.mobile-menu.active .a1_menu_active:nth-child(4) { transition-delay: 0.25s; }
.mobile-menu.active .a1_menu_active:nth-child(5) { transition-delay: 0.3s; }


.menu-toggle.active .menu-text {
    display: none;

}

.menu-toggle.active .close-text {
    display: inline;
	color: #ffeeee;
}


@media (max-width: 1100px) {
    .menu-toggle {
        display: block;
    }
    
    .header_search {
        display: none;
    }

	.header_button{
		display: none;
	}
}


@media (max-width: 480px) {

    .menu-toggle{
        font-size: 18px;

    }

	.a1_menu_active{
    display: block;
    font-size: 39px;
    font-weight: 400;
    color: #ffeeee;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
   }
	.a1_menu_active:hover {
    color: #666;
    }

	
	.footer_p_menu_active{
	font-size: 15px;
	color: #eee;
	padding-top: 13px;
	margin-left: 50px;
	transition: all 0.3s ease-in;
	cursor: pointer;
	}
	

}















/*медиа-запросы*/



@media(max-width:1449px) {
    
    .main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 0px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }
}

@media(max-width:1100px) {

     .main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 30px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }

}


@media(max-width:870px) {

     .main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 70px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }

}


@media(max-width:800px) {

     .main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 160px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }

}


@media(max-width:640px) {

     .main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 130px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }

   .img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 40px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }
    .p_general{
    color: #000000;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 1.2;
    letter-spacing: 0.001px;
    text-align: justify;
    text-justify: inter-word;
}
    .main_button_a{
    color: #ffffff;
     background-color: #0a0a0a;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border:1px #171717 solid;
    border-radius: 13px ;
    padding:8px 13px;
    transition: all 0.2s ease-in;
}
    .span-main-button{
    background-color: #ffffff;
    color: #0f0f0f;
    padding: 3px 5px;
    border-radius: 6px;
    font-size:11px;
    transition: all 0.2s ease-in;
}
    .main_button_a{
     width: 190px;
     padding-left: 12px;
     font-size: 11px;
     transition: all 0.4s ease-in;
     cursor: pointer;
   
}
     .header_logo,.header_logo_a{
    font-size: 22px;
    font-weight:400;
      line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(14, 13, 13);
    text-decoration: none;
     

}


}


@media(max-width:490px) {

     .main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 190px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }

   .img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 50px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }
    .p_general{
    color: #000000;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 1.2;
    letter-spacing: 0.001px;
    text-align: justify;
    text-justify: inter-word;
}
    .main_button_a{
    color: #ffffff;
     background-color: #0a0a0a;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border:1px #171717 solid;
    border-radius: 13px ;
    padding:8px 13px;
    transition: all 0.2s ease-in;
}
    .span-main-button{
    background-color: #ffffff;
    color: #0f0f0f;
    padding: 3px 3px;
    border-radius: 6px;
    font-size:10px;
    transition: all 0.2s ease-in;
}
      .main_button_a{
     width: 130px;
     padding-left: 12px;
     font-size: 11px;
     transition: all 0.4s ease-in;
     cursor: pointer;
     width: fit-content; /* Под содержание */
     padding: 12px 15px;
     font-size: clamp(14px, 2vw, 18px); /* Адаптивный размер текста */
     white-space: nowrap; 
   
}
    .button{
        font-size: 16px;
    }
    
    .footer_p{
      color: #121212e1;
      cursor: pointer;
      font-size: 11px;
      padding-top: 15px;
      font-weight: 400;
      transition: all 0.6s ease-in;
}

    .footer_svg{
      margin-top: 18px;
      pointer-events: none;
      width: 120px;
      height: 40px;
}

     .header_logo,.header_logo_a{
    font-size: 18px;
    font-weight:400;
      line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(14, 13, 13);
    text-decoration: none;
     

}

}


@media(max-width:400px) {

     .main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 250px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }

   .img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 40px;
    max-width: 100%;   
    height: auto;       
    display: block;
   }
    .p_general{
    color: #000000;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 1.2;
    letter-spacing: 0.001px;
    text-align: justify;
    text-justify: inter-word;
}
    .main_button_a{
    color: #ffffff;
     background-color: #000000;
    font-size: 7px;
    text-align: center;
    text-decoration: none;
    border:1px #171717 solid;
    border-radius: 13px ;
    transition: all 0.2s ease-in;
    width: fit-content; /* Под содержание */
    padding: 12px 15px;
    font-size: clamp(14px, 2vw, 18px); /* Адаптивный размер текста */
    white-space: nowrap; 
    cursor: pointer;
}
    .span-main-button{
    background-color: #ffffff;
    color: #0f0f0f;
    padding: 3px 5px;
    border-radius: 6px;
    font-size:10px;
    transition: all 0.2s ease-in;
}

    .main_button{
     width: 110px;
     padding-left: 34px;
     font-size: 23px;
     transition: all 0.4s ease-in;
     cursor: pointer;
   
}
    .button{
        font-size: 18px;
    }
    
.Href_logo{
    justify-content: space-between;
    text-align: center;
    height: 9px;
    width: 9px;
    pointer-events: none;
    cursor: pointer;
    vertical-align: top;
    display: none;



}
    
    .footer_p{
      color: #121212e1;
      cursor: pointer;
      font-size: 9px;
      padding-top: 15px;
      font-weight: 400;
      transition: all 0.6s ease-in;
}

    .footer_svg{
      margin-top: 18px;
      pointer-events: none;
      width: 120px;
      height: 40px;
}
    .Href_logo{
    justify-content: space-between;
    text-align: center;
    height: 7px;
    width: 7px;
    padding-right: 8px;
    pointer-events: none;

}
    .header_logo,.header_logo_a{
    font-size: 17px;
    font-weight:400;
      line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(14, 13, 13);
    text-decoration: none;
     

}

}



