html, body{
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
}

:root {
  font-family:HelveticaNeue, sans-serif;
   margin: 0;
  
}

@font-face{
  font-family: "HelveticaNeue";
  src: './globalfonts//HelveticaNeue-Bold.otf';
}


body {
  margin: 0;
}


a{
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1455px;
    padding: 0px 33px 0px 33px;
}

/*Map-Header*/

.map_header {
    background-color: #ffffff;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left:0;
    
}



.map_header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-left: 3px;
    padding-top: 9px;
    padding-bottom: 9px;
}


.map_header_logo,.es_header_logo_a{
    font-size: 23px;
    font-weight:400;
      line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
     

}

.map_header_menu {
  
    line-height: 0.3%;
    cursor: pointer;
}

.map_ul_a{
    display: flex;
    margin-left: 390px;
    gap:13px;
    text-decoration: none;
    list-style-type: none;
    cursor:pointer;
     color: rgb(0, 0, 0);
}


.map_li_a{
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
     color: rgb(0, 0, 0);
}


.map_a1{
     transition: all 0.3s ease-in;
     font-size: 22px;
     cursor: pointer;
     font-weight:400;
     position: relative;
     color: rgb(0, 0, 0);
}


.map_a1:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    padding-top: -2px;
    height: 1.5px; 
    background-color: rgb(21, 21, 21); 
    transition: width 0.6s ; 
}

.map_a1:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
     padding-top: -2px;
    bottom: -3px;
    height: 1.5px; 
    background-color: rgb(28, 28, 28); 
    transition: width 0.6s;  
}
    
/*header-button*/


.map_header_button{
    font-size: 22px;
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(0, 0, 0);
    cursor: pointer;
    
}

.map_header_button:hover{
    color: rgba(0, 0, 0, 0.68);
}


.map{
    min-width: 100%;
    height:100%;;
    top: 0;
    padding-top: 45px;
    background-color: #ffffff;
    box-sizing: border-box;
}

/*удаление копирайты*/

[class*="copyrights-pane"] {
    display: none !important;
}


::selection {
   background-color: rgb(17, 17, 17);
    color:#ffffff;
}