html, body{
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
}

:root {
  font-family:HelveticaNeue, sans-serif;
   margin: 0;
  
}

@font-face{
  font-family: "HelveticaNeue";
  src: './globalfonts//HelveticaNeue-Bold.otf';
}


body {
  margin: 0;
}


a{
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 100%;
    padding: 0px 33px 0px 33px;
    background-color: hsl(0, 0%, 100%);
}

html, body {
   
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Удаление горизонтальный скролл */
}

* {
    box-sizing: border-box; 
}








/*Map-HEADER*/

.map_header {
    background-color: #ffffff;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left:0;
    
}



.map_header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-left: 3px;
    padding-top: 9px;
    padding-bottom: 9px;
}


.map_header_logo,.es_header_logo_a{
    font-size: 23px;
    font-weight:400;
      line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
     

}

.map_header_menu {
  
    line-height: 0.3%;
    cursor: pointer;
}

.map_ul_a{
    display: flex;
    margin-left: 390px;
    gap:13px;
    text-decoration: none;
    list-style-type: none;
    cursor:pointer;
     color: rgb(0, 0, 0);
}


.map_li_a{
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
     color: rgb(0, 0, 0);
}


.map_a1{
     transition: all 0.3s ease-in;
     font-size: 22px;
     cursor: pointer;
     font-weight:400;
     position: relative;
     color: rgb(0, 0, 0);
}


.map_a1:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    padding-top: -2px;
    height: 1.5px; 
    background-color: rgb(21, 21, 21); 
    transition: width 0.6s ; 
}

.map_a1:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
     padding-top: -2px;
    bottom: -3px;
    height: 1.5px; 
    background-color: rgb(28, 28, 28); 
    transition: width 0.6s;  
}
    
/*header-button*/


.map_header_button{
    font-size: 22px;
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(0, 0, 0);
    cursor: pointer;
    
}

.map_header_button:hover{
    color: rgba(0, 0, 0, 0.68);
}


.map{
    min-width: 100%;
    height:100%;;
    top: 0;
    padding-top: 45px;
    background-color: #ffffff;
    box-sizing: border-box;
}

/*удаление копирайты*/

[class*="copyrights-pane"] {
    display: none !important;
}


::selection {
   background-color: rgb(17, 17, 17);
    color:#ffffff;
}










/*Бургер-меню*/



.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    padding: 8px 12px;
    z-index: 1000;
    position: relative;
    
}

.close-text {
    display: none;
}


/* Меню */


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    clip-path: circle(0% at calc(100% - 40px) 40px);
}

.menu_overlay {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 33px 0px 33px;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu_content {
    text-align: left;
	padding-top: 80px;
}

.a1_menu_active{
    display: block;
    font-size: 39px;
    font-weight: 400;
    color: #ffeeee;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.a1_menu_active:hover {
    color: #666;
}

.footer_gen_menu_active{
	padding-top: 180px;
	
}

.footer_svg_menu{
	width: 300px;
	height: 100px;
      padding-top:180px;
}

/* Активное состояние */
.mobile-menu.active {
    opacity: 1;
    visibility: visible;
    clip-path: circle(150% at calc(100% - 40px) 40px);
}

.mobile-menu.active .a1_menu_active{
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu.active .a1_menu_active:nth-child(1) { transition-delay: 0.1s; }
.mobile-menu.active .a1_menu_active:nth-child(2) { transition-delay: 0.15s; }
.mobile-menu.active .a1_menu_active:nth-child(3) { transition-delay: 0.2s; }
.mobile-menu.active .a1_menu_active:nth-child(4) { transition-delay: 0.25s; }
.mobile-menu.active .a1_menu_active:nth-child(5) { transition-delay: 0.3s; }


.menu-toggle.active .menu-text {
    display: none;

}


.menu-toggle.active .menu-text {
    display: none;

}

.menu-toggle.active .close-text {
    display: inline;
	color: #ffeeee;
}

/*для каждой страницы*/


#map_k {
    color: #000000;
}



@media (max-width: 1100px) {
    .menu-toggle {
        display: block;
    }
    
    .map_header_search {
        display: none;
    }

	.map_header_button{
		display: none;
	}
}


@media (max-width: 480px) {

    .menu-toggle{
        font-size: 18px;

    }

	.a1_menu_active{
    display: block;
    font-size: 39px;
    font-weight: 400;
    color: #ffeeee;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
   }
	.a1_menu_active:hover {
    color: #666;
    }

	
	.footer_p_menu_active{
	font-size: 15px;
	color: #eee;
	padding-top: 13px;
	margin-left: 50px;
	transition: all 0.3s ease-in;
	cursor: pointer;
	}
	

}


/*MEDIA*/