:root {
  font-family:HelveticaNeue, sans-serif;
  
}

@font-face{
  font-family: "HelveticaNeue";
  src: './globalfonts//HelveticaNeue-Bold.otf';
}


.container {
    max-width: 100%;
    background-color: #ff1414;
    padding: 0px 33px 0px 33px;
}

html, body {
    background: #ff1414;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Убирает горизонтальный скролл */
}

* {
    box-sizing: border-box; /* Важно для правильных расчетов */
}


a{
    text-decoration: none;
    color: #000000;
}


/*FMGZ-HEADER*/




.fmgz_header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left:0;
    
    
}



.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-left: 3px;
    padding-top: 9px;
    padding-bottom: 9px;
}



.header_logo,.header_logo_a{
    font-size: 23px;
    font-weight:400;
      line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(14, 13, 13);
    text-decoration: none;
     

}

.logo{
   
     width: 190px;
    height: 50px;
}


.header_menu {
  
    line-height: 0.3%;
    cursor: pointer;
}

.ul_a{
    display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
    margin-left: 390px;
    gap:13px;
    text-decoration: none;
    list-style-type: none;
    cursor:pointer;
     color: #171717;
}


.li_a{
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(11, 11, 11);

}


.a1{
     transition: all 0.3s ease-in;
     font-size: 22px;
     cursor: pointer;
     font-weight:400;
     position: relative;
     color: #0f0f0f;

}


.a1:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    padding-top: -2px;
    height: 1.5px; 
    background-color: rgb(20, 20, 20); 
    transition: width 0.6s ; 
}

.a1:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
     padding-top: -2px;
    bottom: -3px;
    height: 1.5px; 
    background-color: rgb(11, 11, 11); 
    transition: width 0.6s;  
}


/*header-button*/


.a_header_button{
    font-size: 22px;
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(15, 15, 15);
    cursor: pointer;
    
}

.a_header_button:hover{
    color: rgb(85, 85, 85);
}












/*FMGZ-MAIN*/



.img{
    
  background-size: cover;
      background-repeat: no-repeat;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -20px;
    max-width: 100%;   
    height: 900px;       
    display: block;
     pointer-events: none;
}

.f_h1{
    font-size: 100px;
    font-weight: 800;
    line-height: 1;
    color: #0a0a0a;
}

.f_p{
    font-size: 60px;
    font-weight: 00;
    line-height: 1;
    color: #0a0a0a;
    background-color: #eee;
    border-radius: 28px;
    padding: 40px;
}



/*Download-button*/

.fmfl{
     display: flex;
      text-align: center;
    justify-content: center;
    padding-top: 50px;
    gap: 10px;

}
.download_button{
    text-align: center;
    justify-content: center;
    padding-top: 50px;
   
}


.download_button_a{
       color: #ffffff;
    background-color: #0b0b0b;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    border-radius: 11px ;
    border: none;
    font-size: 19px;
    padding: 10px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.download_button_a:hover{
     background-color: rgb(240, 240, 240);
    color: #000000;
    box-shadow: 2px 1px 4px rgb(56, 56, 56);
}








/*FMGZ-FOOTER*/



.footer{
  margin: 0;
  margin-top: 90px; 
}

.footer_gen{
  padding-top: 60px;
}

.fwr{
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;      
}

.footer_p{
  color: #121212e1;
  cursor: pointer;
  font-size: 16px;
  padding-top: 15px;
  font-weight: 400;
  transition: all 0.6s ease-in;
}

.footer_p:hover{
    color: rgba(255, 255, 255, 0.895);
}

.footer_svg{
    margin-top: 18px;
  pointer-events: none;
  width: 170px;
  height: 70px;
}

::selection {
   background-color: rgb(10, 10, 10);
    color: #fffffff6;
}






/*Бургер-меню*/


.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    padding: 8px 12px;
    z-index: 1000;
    position: relative;
}

.close-text {
    display: none;
}


/* Меню */


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    clip-path: circle(0% at calc(100% - 40px) 40px);
}

.menu_overlay {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 33px 0px 33px;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu_content {
    text-align: left;
	padding-top: 80px;
}

.a1_menu_active{
    display: block;
    font-size: 39px;
    font-weight: 400;
    color: #ffeeee;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.a1_menu_active:hover {
    color: #666;
}

.footer_gen_menu_active{
	padding-top: 180px;
	
}

.footer_svg_menu{
	width: 300px;
	height: 100px;
    padding-top:180px;
}

/* Активное состояние */
.mobile-menu.active {
    opacity: 1;
    visibility: visible;
    clip-path: circle(150% at calc(100% - 40px) 40px);
}

.mobile-menu.active .a1_menu_active{
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu.active .a1_menu_active:nth-child(1) { transition-delay: 0.1s; }
.mobile-menu.active .a1_menu_active:nth-child(2) { transition-delay: 0.15s; }
.mobile-menu.active .a1_menu_active:nth-child(3) { transition-delay: 0.2s; }
.mobile-menu.active .a1_menu_active:nth-child(4) { transition-delay: 0.25s; }
.mobile-menu.active .a1_menu_active:nth-child(5) { transition-delay: 0.3s; }


.menu-toggle.active .menu-text {
    display: none;

}

.menu-toggle.active .close-text {
    display: inline;
	color: #ffeeee;
}

@media (max-width: 1100px) {
    .menu-toggle {
        display: block;
    }
    
    .header_search {
        display: none;
    }

	.header_button{
		display: none;
	}
}


@media (max-width: 480px) {

    .menu-toggle{
        font-size: 18px;

    }

	.a1_menu_active{
    display: block;
    font-size: 39px;
    font-weight: 400;
    color: #ffeeee;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
   }
	.a1_menu_active:hover {
    color: #666;
    }

	
	.footer_p_menu_active{
	font-size: 15px;
	color: #eee;
	padding-top: 13px;
	margin-left: 50px;
	transition: all 0.3s ease-in;
	cursor: pointer;
	}
	

}



/*MEDIA*/