:root {
  font-family:HelveticaNeue, sans-serif;
  
}

@font-face{
  font-family: "HelveticaNeue";
  src: './globalfonts//HelveticaNeue-Bold.otf';
}


a{
    text-decoration: none;
}

.contacts{
    background-color: #000000;
}


.container {
    max-width: 100%;
    padding: 0px 33px 0px 33px;
    background-color: hsl(0, 0%, 0%);
}

html, body {
   
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Удаление горизонтальный скролл */
}

* {
    box-sizing: border-box; 
}








/*CONTACTS-HEADER*/


.contacts_header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left:0;
    
}



.contacts_header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-left: 3px;
    padding-top: 13px;
    padding-bottom: 13px;
}



.contacts_header_logo,.contacts_header_logo_a{
    font-size: 23px;
    font-weight:400;
      line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
     

}

.contacts_header_menu {
  
    line-height: 0.3%;
    cursor: pointer;
}

.contacts_ul_a{
    display: flex;
    margin-left: 390px;
    gap:13px;
    text-decoration: none;
    list-style-type: none;
    cursor:pointer;
     color: #ffffff;
}


.contacts_li_a{
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(255, 255, 255);

}


.contacts_a1{
     transition: all 0.3s ease-in;
     font-size: 22px;
     cursor: pointer;
     font-weight:400;
     position: relative;
     color: #ffffff;

}


.contacts_a1:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    padding-top: -2px;
    height: 1.5px; 
    background-color: rgb(255, 255, 255); 
    transition: width 0.6s ; 
}

.contacts_a1:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
     padding-top: -2px;
    bottom: -3px;
    height: 1.5px; 
    background-color: rgb(255, 255, 255); 
    transition: width 0.6s;  
}
    



/*header-button*/


.contacts_a_header_button{
    font-size: 22px;
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(255, 255, 255);
    cursor: pointer;
    
}

.contacts_a_header_button:hover{
    color: rgba(188, 188, 188, 0.865);
}










/*CONTACTS-MAIN*/



.img{
   
     
  background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 40px;
    max-width: 100%;   
    height: auto;       
    display: block;
     pointer-events: none;
   
}

.inner_contacts{
    margin-top: -90px;
    width: 100%;
}





.contacts_h1{
    padding-top: 100px;
    font-size: 110px;
    font-weight: 700;
    color: #ffffff;
    transition: filter 0.4s ease-in;
    cursor: pointer;
    filter: blur(0px);
    margin-left: -9px;
  
}

.contacts_h1:hover{
    filter: blur(9px);
}

.contacts_h3{
    font-size: 25px;
    gap: 20px;
    font-weight: 300;
    color: #ffffff;
    border-bottom: 2px solid #ffffffe9 ;
    transition: all 0.2s ease-in-out;

}

.contacts_h3:hover{
    border-bottom: 2px solid #0015ff ;

}

.contacts_a{
    color: #ffffff;
    cursor:pointer;
    padding: 1px;
 
}
.contacts_a:hover{
     background-color: rgb(255, 255, 255);
     color: #0015ff;

}


.span_mail{
    transition: all 0.2s ease-in;
    cursor: pointer;
}


.c_Href_logo{
    justify-content:end;
    text-align: center;
    height: 15px;
    width: 15px;
 
    pointer-events: none;
}










/*CONTACTS-FOOTER*/


.contacts_footer{
  margin: 0;
  margin-top: 33px;
  
  
}

.contacts_footer_gen{

  padding-top: 80px;
}

.contacts_fwr{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;      
  
}

.contacts_footer_p{
  color: #ffffffe1;
  cursor: pointer;
  font-size: 15px;
  padding-top: 15px;
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.contacts_footer_p:hover{
    color: rgba(164, 164, 164, 0.895);
}

.contacts_footer_svg{
    margin-top: 18px;
  pointer-events: none;
  width: 170px;
  height: 70px;
}



.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    padding: 8px 12px;
    z-index: 1000;
    position: relative;
}

.close-text {
    display: none;
}


/* Меню */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    clip-path: circle(0% at calc(100% - 40px) 40px);
}

.menu_overlay {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 33px 0px 33px;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu_content {
    text-align: left;
	padding-top: 80px;
}

.a1_menu_active{
    display: block;
    font-size: 39px;
    font-weight: 400;
    color: #ffeeee;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.a1_menu_active:hover {
    color: #666;
}

.footer_gen_menu_active{
	padding-top: 180px;
	
}


.footer_svg_menu{
	width: 300px;
	height: 100px;
     padding-top:180px;
}

/* Активное состояние */
.mobile-menu.active {
    opacity: 1;
    visibility: visible;
    clip-path: circle(150% at calc(100% - 40px) 40px);
}

.mobile-menu.active .a1_menu_active{
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu.active .a1_menu_active:nth-child(1) { transition-delay: 0.1s; }
.mobile-menu.active .a1_menu_active:nth-child(2) { transition-delay: 0.15s; }
.mobile-menu.active .a1_menu_active:nth-child(3) { transition-delay: 0.2s; }
.mobile-menu.active .a1_menu_active:nth-child(4) { transition-delay: 0.25s; }
.mobile-menu.active .a1_menu_active:nth-child(5) { transition-delay: 0.3s; }


.menu-toggle.active .menu-text {
    display: none;

}


.menu-toggle.active .es_menu-text {
    display: none;

}

.menu-toggle.active .close-text {
    display: inline;
	color: #ffeeee;
}

/*для каждой страницы*/

#contacts{
    color: #ffffff;
}



@media (max-width: 1100px) {
    .menu-toggle {
        display: block;
    }
    
    .contacts_header_search {
        display: none;
    }

	.contacts_a_header_button{
		display: none;
	}
}


@media (max-width: 480px) {

    .menu-toggle{
        font-size: 18px;

    }

	.a1_menu_active{
    display: block;
    font-size: 39px;
    font-weight: 400;
    color: #ffeeee;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
   }
	.a1_menu_active:hover {
    color: #666;
    }

	
	.footer_p_menu_active{
	font-size: 15px;
	color: #eee;
	padding-top: 13px;
	margin-left: 50px;
	transition: all 0.3s ease-in;
	cursor: pointer;
	}
	

}


::selection {
    background-color: rgb(255, 255, 255);
    color: #0015ff;
;
}


/*MEDIA*/